$black: #333333;
$yellow:#FDCB24;
$blue: #2374FF;
$link: #2e7bff;
$green: #2DDE98;
$red: #EA4161;
$danger: #fe2d54;
$bluegray01: #E6E9EB;
$bluegray02: #EBEEF0;
$bluegray03: #F5F8FA;
$gray01: #999999;
$gray02: #CCCCCC;
$gray03: #E6E6E6;
$gray04: #F5F5F5;
$white: #FFFFFF;
$transparent: transparent;
$yellowTransparent:rgba(253, 203, 36, 0.16);